#nav {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
  padding: 20px;
  background: #FFFFFF;
  box-shadow: 0 -3px 14px -10px rgba(0,0,0,0.31);
  border-radius: 33px 33px 0px 0px;
  width: calc(100vw - 40px);
  z-index: 9999;
}

.nav-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.5rem;
}